@import '../../marketplace.css';


.buttonsAndPaging {
  display: flex;
  justify-content: center;
  margin-left: 100px;

  @media (--viewportMedium) {
    margin-top: 2px;
  }
}



.buttonPrev {
  width: 30%;

  top: 50%;
  transform: translate(0, -50%);
}
.paging {
  width: 30%;

  top: 50%;
  transform: translate(0, -50%);
}

.buttonNext {
  width: 30%;

  top: 50%;
  transform: translate(0, -50%);
}


